@page
@using CalendarCourseWork.BusinessLogic.Models;
@using System.Globalization;

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Календарь</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <style>
        body {
            background: -webkit-gradient(linear, left bottom, right top, from(#fc2c77), to(#6c4079));
            background: -webkit-linear-gradient(bottom left, #fc2c77 0%, #6c4079 100%);
            background: -moz-linear-gradient(bottom left, #fc2c77 0%, #6c4079 100%);
            background: -o-linear-gradient(bottom left, #fc2c77 0%, #6c4079 100%);
            background: linear-gradient(to top right, #fc2c77 0%, #6c4079 100%);
            color: #fff;
        }

        .container-xxl {
            max-width: none; /* Отменяем максимальную ширину контейнера */
            padding: 0; /* Убираем отступы внутри контейнера */
        }

        .card {
            background-color: #DEE2E6;
            color: black;
            margin-bottom: 10px;
            margin-left: 10px;
            height: 254px; /* Фиксированная высота карточки */
            width: 191px;
        }

        .card-body {
            padding: 5px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .btn {
            background-color: #7749F8;
        }

        .btn-group {
            display: flex;
            flex-direction: column;
        }

        .day {
            font-size: 26px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .events {
            font-weight: bold;
            font-size: 16px;
        }

        /* Стили для кнопок переключения режимов */
        .switch-btn {
            width: 70px;
            margin: 0 5px;
        }
    </style>
</head>
<body>

    <div class="container-xxl">

        <div class="row" style="margin-left: 191px">
            <!-- Кнопка "День" -->
            <div class="btn-group" style="margin-left:10px">
                @{
                    var dateTimeFrom = new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day, 0, 0, 0);
                    var dateTimeTo = new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day, 23, 59, 59);
                }

                <a class="btn btn-primary" href="@Url.Action("Index", "Events", new { userId =  ViewBag.CalendarViewModel.UserId, dateTimeFrom = dateTimeFrom, dateTimeTo = dateTimeTo})">
                    День
                </a>
            </div>

            <!-- Кнопка "Месяц" (с подсветкой) -->
            <div class="btn-group">
                <a class="btn btn-primary" href="@Url.Action("MonthWithEvents", "Calendar", new { year = ViewBag.CalendarViewModel.FirstDayOfMonth.Year, month = ViewBag.CalendarViewModel.FirstDayOfMonth.Month, userId = ViewBag.CalendarViewModel.UserId })">
                    Месяц
                </a>
            </div>

            <!-- Кнопка "Год" -->
            <div class="btn-group">
                <button class="btn btn-primary active" disabled>Год</button>
            </div>
        </div>

        <div class="row" style="margin-left: 191px">
            <div class="card" style="max-height: 70px; margin-left:10px">
                <div class="card-body" style="font-size: 26px; font-weight: bold">
                    @ViewBag.CalendarViewModel.FirstDayOfMonth.Year
                </div>
            </div>

            <div class="card" style="max-height: 70px">
                <div class="card-body" style="display: flex; justify-content: space-between; align-items: center;">
                    <a class="btn btn-primary" href="@Url.Action("Year", "Calendar", new { year = ViewBag.CalendarViewModel.FirstDayOfMonth.Year - 1, month = ViewBag.CalendarViewModel.FirstDayOfMonth.Month, userId = ViewBag.CalendarViewModel.UserId })">
                        Предыдущий год
                    </a>
                </div>
            </div>

            <div class="card" style="max-height: 70px">
                <div class="card-body" style="display: flex; justify-content: space-between; align-items: center;">
                    <a class="btn btn-primary" href="@Url.Action("Year", "Calendar", new { year = ViewBag.CalendarViewModel.FirstDayOfMonth.Year + 1, month = ViewBag.CalendarViewModel.FirstDayOfMonth.Month, userId = ViewBag.CalendarViewModel.UserId })">
                        Следующий год
                    </a>
                </div>
            </div>
        </div>

        <div class="row" style="margin-left: 191px">
            @for (int month = 1; month <= 12; month++)
            {
                <div class="card" style="margin-left: 10px; max-height: 70px">
                    <div class="card-body" style="font-size: 26px; font-weight: bold">
                        @CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(month)
                    </div>
                </div>
            }
        </div>

    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
